@mixin icon ($image,$color) {
    background-color: white;
    background-image: url($image);
    background-repeat: no-repeat;
    background-position: center;
    border-color:$color ;
    box-shadow: inset 0px 5px 6px grey, 0px 8px darken($paper-gradient, 15%);
}


